<div class="background">
  <section class="left-bar">
    <h1>Bienvenido de nuevo</h1>
    <p>Ingresa los siguientes datos para entrar</p>

    <mat-form-field class="form-input">
      <input matInput [(ngModel)]="email" placeholder="Email" />
    </mat-form-field>

    <mat-form-field class="form-input">
      <input [(ngModel)]="password" matInput placeholder="Contraseña" />
    </mat-form-field>
    <mat-checkbox class="example-margin">Recuerdame en este dispositivo</mat-checkbox>
    <button class="form-button" (click)="login()">Ingresar</button>
      <a href="">Olivide mi contraseña</a>
      <a [routerLink]="'/cliente/signup'">¿No tienes cuenta? Solicita una</a>
  </section>
  <section class="right-bar">
    <img
      src="https://images.unsplash.com/photo-1618950399704-86fb060cd003?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
    />
  </section>
</div>
